@use '../base/variables';

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: variables.$color-white;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem; 
  margin-bottom: variables.$spacing-5;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: variables.$spacing-4;
  text-align: right;
}