@use '../base/variables';

.table-container {
  overflow-x: auto;
  border-radius: variables.$radius-sm;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: variables.$color-white;
  border: 1px solid variables.$color-grey-border-light;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: variables.$color-primary-light;
    color: variables.$color-black;

    th {
      padding: 16px;
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid variables.$color-grey-border;
      &:nth-last-child(1) {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid variables.$color-grey-light-2;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: variables.$color-grey-light-1;
      }
    }

    td {
      padding: 12px 16px;
      font-size: 0.95rem;
      color: variables.$color-text-dark;
      border-bottom: 1px solid variables.$color-grey-light-2;
    }

    td:last-child {
      text-align: center;

      .actions {
        display: flex;
        justify-content: center;
        gap: 8px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .table-container {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-container table {
    min-width: 800px;
  }
}
